html {
    font-size: 28px;
    color: #666;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

body {
    overflow: hidden !important;
    max-width: 942px;
    max-height: 710px;
    background: rgba(0, 0, 0, 0);
}

div.bg {
    -webkit-app-region: no-drag;
    transition: background 1s;
    -moz-transition: background 1s;
    -webkit-transition: background 1s;
    -o-transition: background 1s;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
}

input {
    font-size: 0.7em;
}

.main {
    position: relative;
    left: 278px;
}

.userinput {
    position: relative;
    left: -50px;
}

.ui {
    font-size: 75%;
}

div.short {
    width: 210px;
    display: inline-block;
    cursor: text;
    border-bottom: 1px solid rgba(235, 235, 235, 0.8);
    font-size: 21px;
    color: black;
    overflow: hidden;
    transition: border-bottom .4s;
    -webkit-transition: border-bottom .4s;
    white-space: nowrap;
    word-break: keep-all;
    -webkit-user-modify: read-write-plaintext-only;
    position: relative;
    top: 3px;
}

div.short:focus, div.short:active {
    outline: 0;
    border-bottom: 1px solid rgb(28, 145, 255);
}

div.short#path {
    font-family: Consolas;
}

span.pad {
    width: 210px;
    cursor: text;
}

a.button1 {
    position: relative;
    top: 15px;
    left: 23px;
    text-decoration: none;
    border: 1px solid #3a3a3a;
    font-size: 110%;
    color: #4d4d4d;
    padding: 6px 12px;
    border-radius: 3px;
    font-family: Consolas;
    transition: background .2s;
    -webkit-transition: background .2s;
}

a.button1:hover {
    background: #ddd;
}

div.header {
    height: 106px;
    background: url(../html/logo.png) no-repeat;
    background-position: center;
}

input::-webkit-input-placeholder {
    color: #c2c2c2;
    opacity: 1;
}

#log {
    font-size: 0.4em;
    margin-top: 30px;
    text-align: center;
}

.log {
    font-family: "Courier New";
}

input.pointer {
    cursor: pointer;
    position: relative;
    left: 22px;
}

.au {
    font-size: 150%;
}

.control-bar {
    height: 28px;
    -webkit-app-region: drag;
    width: 100%;
}
.control {
    height: 15px;
    margin: 4.5px 4.5px;
    width: 15px;
    position: absolute;
    border-radius: 9px;
    cursor: pointer;
}
.control-min {
    -webkit-app-region: no-drag;
    background-color: rgb(156, 156, 156);
    right: 26px;
}
.control-min:hover {
    background-color: rgb(122, 122, 122);
}
.control-close {
    -webkit-app-region: no-drag;
    background-color: rgb(228, 82, 60);
    right: 4px;
}
.control-close:hover {
    background-color: rgb(234, 32, 0);
}
.control-title {
    font-size: 12px;
    width: 600px;
    padding-left: 4px;
    color: rgb(36, 36, 36);
    font-family: "Microsoft YaHei";
    cursor: default;
}

.loading-bar,
.current-speed {
    position: absolute;
    z-index: 100;
}

.loading-bar {
    left: 0;
    top: 28px;
    background-color: #888;
    height: 3px;
}

.current-speed {
    left: 3px;
    top: 33px;
    font-size: 13px;
    color: #333;
}

span.eng {
    font-family: "Courier New";
    font-weight: bold;
}

.beautiful {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
}

a.beautifulA {
    color: rgb(0, 137, 187);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    text-decoration: none;
}

.leftpad {
    margin-left: 13px;
}

.feedback {
    padding: 3px;
    font-size: 1em;
    padding-left: 8px;
    display: inline-block;
}

.my-logo {
    position: absolute; 
    left: -50px;
    overflow: hidden;
    zoom: 100%;
    height: 100px;
    bottom: -16px;
    border: 0;
    transition: opacity .8s;
    -moz-transition: opacity .8s;
    -webkit-transition: opacity .8s;
    -o-transition: opacity .8s;
}

.swal2-input {
    font-family: Consolas;
    font-size: 13px;
}
